<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up - BloodBridge</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="login-container">
    <div class="heading">
      <h1>BloodBridge</h1>
      <p>Connecting Donors & Recipients</p>
    </div>

    <div class="login-box">
      <h2>Sign Up</h2>

      {% if error_message %}
        <div class="flash-msg flash-error">{{ error_message }}</div>
      {% endif %}

      <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
      </form>

      <p>Already have an account? <a href="/">Login Here</a></p>
    </div>

    <footer><p>Made By Team VitalX - DBMS-V-T233</p></footer>
  </div>
</body>
</html>
